/* Universal Styles */

html {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.4;
}

.site-width {
  width: 960px;
}

body {
  margin: 0;
}

div {
  display: block;
  border: 1px black solid;
}


.container {
    max-width:
    margin: 0 auto;
    display: flex;
  }

a {
  color: darkgrey;
  text-decoration: none;
}

p {
  font-size: .8rem;
}

caption {
  font-size: .5rem;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 1.25rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

/* Header Section */

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  margin: auto;
  border: 1px black solid;
  flex-direction: column;
  align-items: center;
  top: 0;
  background-color: PINK;
  opacity: 1;
}

.logo {
  align-items: center;
  color: darkgrey;
  float: left;
}
.logo img {
  padding: .75rem .25rem .75rem 1.5rem;
  height: 3rem;
  border: 1px black solid;
}

.colmar {
  color: darkgrey;
  font-weight: bold;
}

.academy {
  color: lightgrey;
}

/* Nav-bar */

.nav-bar {
  justify-content: space-between;
  align-items: center;

  flex-direction:
}

.nav-bar li {
  list-style-type: none;
  display: inline;
  margin-right: 1rem;
}

/* Banner section */

.banner {
  background-color: grey;
  border: 1px solid black;
  margin: 64px auto;
  margin-bottom: 0;
  position: relative;
  top: 0;
}

.banner-image {
  width: 537px;
  margin: 2rem 2.5rem 2rem 1.5rem;
}

.banner img {
  width: 100%;
}

.banner-content {
  flex-direction: column;
  justify-content: center;
  width: 423px;
  color: darkgrey;
  padding-right: 3.5rem;
}

.banner h2 {
  padding-bottom: 1.25rem;
}

.banner-box {
  color: white;
  background-color: green;
  padding: 8px 0;
  justify-content: center;
}

/* Info section */

.info-main,
.info-column,
.info-content,
.info-box-content {
  flex-direction: column;
}

.info {
  justify-content: center;
  position: relative;
  margin: auto;
  line-height: 1.4;
  background-color: white;
}

.info-main {
  width: 537px;
}

.info-image img {
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.info-content h3,
.info-content p {
  padding-bottom: 1.5rem;
}

.info-column {
  width: 423px;
}

.info-box-image  {

}

.info-box a {
  color: blue;
}

.info-box-content {
  justify-content: center;
}

.info-box-content p {
  padding: .5rem 1rem .5rem 1rem;
}

.info-box-content h4 {
  padding: 0 1rem;
}

.info-box-image img {
  padding: 1rem;
}
